.change-pass_title {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    margin-top: 50px;
}

.change-pass_form {
    border-radius: 5px;
    width: 350px;
    margin: 40px auto;
    background-color: #FFFFFF;
    font-size: 1.6rem;
    overflow: hidden;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin-bottom: 15px;
}