/* Footer App */
.footer-app {
    background-color: var(--white-color);
}

.footer-information {
    padding: 40px 0;
}

.info-container {
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.support-customer {
    display: flex;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
}

.block h4 {
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.hotline {
    color: rgb(196, 1, 26);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.number-phone {
    color: rgb(196, 1, 26);
    text-decoration: none;
    font-size: 1.4rem;
}

.number-phone:hover {
    color: rgb(196, 1, 26);
}


.small-text {
    color: rgb(51, 51, 51);
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 10px; 
}

.small-text:hover {
    color: rgb(51, 51, 51);
}

.block-link {
    display: block;
    margin-bottom: 10px;
}

.block-link span {
    font-size: 1.2rem;
    cursor: pointer;
}

.service-link {
    text-decoration: none;
}

.service-img {
    width: 54px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.contact-link {
    text-decoration: none;
}

.contact-img {
    width: 32px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.download-link {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 10px;
}

.download-img {
    width: 134px;
}